.wrapper {
  position: relative;

  &.load {
    .user {
      width: 100%;
      min-width: 200px;

      .display_name,
      .photo_wrapper {
        width: 100%;
        max-width: 90px;

        padding: 0.45rem;

        background: linear-gradient(90deg, #e7e7e7, #ffffff, #e4e4e4);
        border-radius: 0.235rem;
        background-size: 500% 500%;

        animation: loadingAnimation 2s linear infinite;

        @keyframes loadingAnimation {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }

      .photo_wrapper {
        width: 35px;
        height: 35px;

        border-radius: 50%;
      }
    }

    .menu {
      .list {
        .email {
          width: 100%;

          padding: 0.55rem;

          background: linear-gradient(90deg, #e7e7e7, #ffffff, #e4e4e4);
          border-radius: 0.235rem;
          border-bottom: 0;
          background-size: 500% 500%;

          animation: loadingAnimation 2s linear infinite;

          @keyframes loadingAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 945px) {
    padding-bottom: 0.55rem;

    display: flex;
    flex-direction: column;
    gap: 0.55rem;

    border-bottom: 0.8px solid var(--accent-7);

    .menu {
      display: none;

      border-radius: 0.325rem;
    }

    .user {
      .icon {
        transform: rotate(-90deg);
      }
    }

    &.active {
      .menu {
        display: block;
      }

      .user {
        background: var(--accent-8);

        .icon {
          transform: rotate(-180deg);
        }
      }
    }
  }

  @media (min-width: 945px) {
    &.active {
      .menu {
        opacity: 1;
        visibility: visible;

        transform: scale(1, 1);
      }

      .user {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  .user {
    padding: 0.35rem 0.55rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.55rem;

    border-radius: 0.325rem;

    .photo_wrapper {
      width: 35px;
      height: 35px;

      min-width: 35px;
      min-height: 35px;

      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;

      border-radius: 50%;

      .photo {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .display_name {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--accent-1);
    }

    .icon {
      margin-left: auto;

      font-size: 1.35rem;

      transition: 0.25s;
    }
  }

  .menu {
    width: 100%;

    @media (min-width: 945px) {
      width: auto;
      min-width: 230px;

      opacity: 0;
      visibility: hidden;
      overflow: hidden;

      position: absolute;
      top: 50px;
      right: 0;
      z-index: 20;

      transform: scale(0.85, 0.85);
      transform-origin: top right;

      background: var(--bg-main);
      border-radius: 0.585rem;
      border: 0.8px solid var(--accent-7);
      box-shadow: 0px 4px 18px rgb(0 0 0 / 4%), 0px 2.025px 7.84688px rgba(0, 0, 0, 0.027),
        0px 0.8px 2.925px rgb(0 0 0 / 2%), 0px 0.175px 1.04062px rgba(0, 0, 0, 0.013);
    }

    transition: 0.15s;

    .list {
      width: 100%;

      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 0.55rem;

      @media (min-width: 945px) {
        gap: 0.35rem;

        padding: 0.35em 0;
      }

      .email {
        width: 100%;

        padding: 0.55rem;

        border-radius: 0.385rem;

        font-size: 0.785rem;
        font-weight: 400;
        color: var(--accent-2);

        transition: 0.25s;

        @media (min-width: 945px) {
          padding: 0.55rem 0.85rem;

          border-bottom: 0.8px solid var(--accent-7);
          border-radius: 0;

          font-size: 0.875rem;
        }
      }

      .links {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.55rem;

        padding-bottom: 0.55rem;

        border-bottom: 0.8px solid var(--accent-7);

        @media (min-width: 945px) {
          gap: 0.35rem;

          padding-bottom: 0.35rem;
        }

        .link {
          width: 100%;

          padding: 0.55rem;

          display: flex;
          align-items: center;
          gap: 0.35rem;

          border-radius: 0.385rem;

          font-size: 0.785rem;
          font-weight: 400;
          color: var(--accent-1);

          transition: 0.25s;

          &:hover {
            background: var(--accent-8);
          }

          &:active {
            background: var(--accent-7);
          }

          &.active {
            background: var(--accent-9);
          }

          @media (min-width: 945px) {
            padding: 0.55rem 0.85rem;

            border-radius: 0;

            font-size: 0.875rem;
          }

          .icon {
            font-size: 1.05rem;
          }

          .count {
            padding: 0.15rem 0.25rem;

            border-radius: 0.4rem;
            background: var(--orange-bg);

            text-transform: uppercase;

            font-size: 0.65rem;
            font-weight: 800;
            color: var(--orange-color);
          }
        }
      }
    }
  }
}
