.wrapper {
  position: relative;

  &.load {
    .user {
      .display_name,
      .photo_wrapper {
        width: 100%;
        max-width: 90px;

        padding: 0.45rem;

        background: linear-gradient(90deg, #797979, #ffffff, #e4e4e4);
        border-radius: 0.235rem;
        background-size: 200% 200%;

        animation: loadingAnimation 2s linear infinite;

        @keyframes loadingAnimation {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }

      .photo_wrapper {
        width: 35px;
        height: 35px;

        border-radius: 50%;
      }
    }

    .menu {
      .list {
        .email {
          width: 100%;

          padding: 0.55rem;

          background: linear-gradient(90deg, #797979, #ffffff, #e4e4e4);
          border-radius: 0.235rem;
          border-bottom: 0;
          background-size: 200% 200%;

          animation: loadingAnimation 2s linear infinite;

          @keyframes loadingAnimation {
            0% {
              background-position: 0% 50%;
            }
            50% {
              background-position: 100% 50%;
            }
            100% {
              background-position: 0% 50%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 945px) {
    padding-bottom: 0.55rem;

    display: flex;
    flex-direction: column;
    gap: 0.55rem;

    border-bottom: 0.8px solid var(--accent-7);

    .menu {
      display: none;

      border-radius: 0.325rem;
    }

    .icon {
      transform: rotate(-90deg);
    }

    &.active {
      .menu {
        display: block;
      }

      .user {
        background: var(--accent-8);

        .icon {
          transform: rotate(-180deg);
        }
      }
    }
  }

  @media (min-width: 945px) {
    &:hover,
    &:active {
      .menu {
        opacity: 1;
        visibility: visible;
      }

      .user {
        .icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  .user {
    width: 100%;
    min-width: 200px;

    padding: 0.35rem 0.55rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.55rem;

    border-radius: 0.325rem;

    .photo_wrapper {
      width: 35px;
      height: 35px;

      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;

      border-radius: 50%;

      .photo {
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .display_name {
      font-size: 0.875rem;
      font-weight: 500;
      color: var(--accent-1);
    }

    .icon {
      margin-left: auto;

      font-size: 1.35rem;

      transition: 0.25s;
    }
  }

  .menu {
    width: 100%;

    @media (min-width: 945px) {
      width: 100vw;
      max-width: 250px;

      opacity: 0;
      visibility: hidden;
      overflow: hidden;

      position: absolute;
      top: 55px;
      left: 50%;
      z-index: 20;

      transform: translateX(-50%);

      background: var(--bg-main);
      border-radius: 0.585rem;
      border: 0.8px solid var(--accent-7);
      box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
        rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
    }

    transition: 0.15s;

    .list {
      width: 100%;

      @media (min-width: 945px) {
        padding: 0.55rem;
      }

      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 0.55rem;

      .email {
        width: 100%;

        padding: 0.55rem;

        border-radius: 0.385rem;

        font-size: 0.785rem;
        font-weight: 400;
        color: var(--accent-2);

        transition: 0.25s;

        @media (min-width: 945px) {
          border-bottom: 0.8px solid var(--accent-7);

          font-size: 0.875rem;
        }
      }

      .links {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 0.55rem;

        .link {
          width: 100%;

          padding: 0.55rem;

          display: flex;
          align-items: center;
          gap: 0.35rem;

          border-radius: 0.385rem;

          font-size: 0.785rem;
          font-weight: 400;
          color: var(--accent-1);

          transition: 0.25s;

          &:hover {
            background: var(--accent-8);
          }

          &:active {
            background: var(--accent-7);
          }

          &.active {
            background: var(--accent-9);
          }

          @media (min-width: 945px) {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}
