.button,
.button_load {
  width: 100%;

  cursor: pointer;

  padding: 0.75rem 0.55rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;

  background: var(--accent-0);
  border: 0.8px solid var(--accent-2);
  border-radius: 0.675rem;
  outline: 1.85px solid transparent;

  font-size: 0.875rem;
  font-weight: 500;
  color: var(--accent-8);

  transition: 0.25s;

  &:hover {
    background: var(--accent-0-hover);
  }

  &:active {
    background: var(--accent-0-active);
  }

  &.disabled {
    cursor: not-allowed;

    color: var(--accent-5);

    &:hover,
    &:active {
      background: var(--accent-0);
    }

    &.logout {
      background: #fa39282b;

      &:hover,
      &:active {
        background: #fa39282b;
      }
    }

    &.white {
      outline: 0;

      color: var(--accent-2);

      &:hover,
      &:active {
        background: var(--accent-9);
      }

      @keyframes loadingAnimation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    }
  }

  @media (max-width: 675px) {
    cursor: default;
  }

  &.logout {
    padding: 0.55rem;

    justify-content: start;

    background: transparent;
    border: 0;
    border-radius: 0.385rem;

    color: #e34c41;

    &:hover {
      background: #fa39282b;
    }

    &:active {
      background: #fa39284f;
    }

    @media (min-width: 945px) {
      padding: 0.55rem 0.85rem;

      border-radius: 0;
    }

    @media (max-width: 945px) {
      font-size: 0.785rem;
    }
  }

  &.white {
    background: var(--accent-9);
    border-color: var(--accent-6);

    color: var(--accent-1);

    &:hover {
      background: var(--accent-9);
    }

    &:active {
      background: var(--accent-9);
      outline-color: var(--blue-color);
    }
  }

  .icon,
  .load {
    font-size: 1.05rem;
  }

  .load {
    animation: rotateAnimation 0.9s infinite linear;

    @keyframes rotateAnimation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  &.adaptive {
    @media (max-width: 1205px) {
      padding: 0.7rem 0.5rem;

      font-size: 0.855rem;
    }

    @media (max-width: 875px) {
      padding: 0.65rem 0.45rem;

      font-size: 0.825rem;
    }

    @media (max-width: 675px) {
      padding: 0.6rem 0.4rem;

      font-size: 0.785rem;
    }

    @media (max-width: 555px) {
      padding: 0.55rem 0.35rem;

      font-size: 0.755rem;
    }
  }

  &.animated {
    &:hover {
      gap: 0.5rem;
    }
  }

  &.small {
    gap: 0.2rem;

    padding: 0.25rem 0.625rem;

    line-height: 1rem;

    font-size: 0.785rem;

    border-radius: 0.455rem;

    .icon,
    .load {
      font-size: 0.8rem;
    }
  }
}

.button_load {
  cursor: not-allowed;

  &:hover,
  &:active {
    background: var(--accent-0);
  }

  &.logout {
    background: #fa39282b;

    &:hover,
    &:active {
      background: #fa39282b;
    }
  }

  &.white {
    background: linear-gradient(90deg, #ededed, #ffffff, #e4e4e4);
    background-size: 200% 200%;

    color: var(--accent-2);

    animation: loadingAnimation 2s linear infinite;

    @keyframes loadingAnimation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
}
