.notification {
  width: 100%;

  min-width: 100%;
  max-width: 100%;
  min-height: 35px;

  padding: 0.55rem;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.55rem;

  background: var(--bg-main);
  border-bottom: 0.8px solid var(--accent-7);

  .text {
    font-size: 1rem;
    font-weight: 600;
  }

  .clear {
    padding: 0.05rem;

    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

    border: 0.8px solid var(--accent-7);
    border-radius: 0.325rem;
    outline: 1.85px solid transparent;

    font-size: 1.35rem;

    cursor: pointer;

    transition: 0.25s;

    &:hover {
      background: var(--accent-8);
    }

    &:active {
      background: var(--accent-7);

      outline-color: var(--blue-color);
    }

    @media (max-width: 985px) {
      cursor: default;
    }
  }
}
